.CartNotification-Container {
    width: fit-content
}
.CartNotification-Amount {
    background-color: #FC2E20;
    font-size: 30px;
    border-color: #FD7F20;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
}