.Cart-cartItem {
    list-style: none;
    background-color: #FD7F20;
    border-color: #FC2E20;
    border-style: dashed;
}
.Cart-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FDB750;
    border-color: #010100;
    border-style: solid;
    width: fit-content;
}
.Cart-TotalPrice {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
}