.NavBar-Container {
   background-color: #FDB750;
}
.NavBar-Ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.NavBar-Link {
    list-style-type: none;
    margin: auto;
    background-color: #FD7F20;
    border: 10px;
    border-style: solid;
    border-color: #FC2E20;
    font-size: large;
}