.ShopItem-Container {
    background-color: #FDB750;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ShopItem-ItemName {
    font-size: 40px;
}
.ShopItem-Price {
    font-size: 20px;
}