.ShopItem-Container {
    background-color: #FDB750;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.ShopItem-ItemName {
    font-size: 40px;
    padding-left: 20px;
    padding-right: 20px;
}
.ShopItem-Price {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.QuantityInput {
    padding-left: 20px;
    padding-right: 20px;
}
.AddToCartBtn {
    border-color: #010100;
}